.App {
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
  ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: all 2s
}


#quote-box-container {
  padding: 40px 30px 20px 30px;
  background-color: rgb(110, 212, 238);
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  height: auto;
  color: white;
  transition: all 0.6s

}

#text{
  margin: 0px 0px 20px 0px;
  font-size: normal;
}

#author {
  text-align: right;
  font-size: smaller;
}

#buttons-container{
  margin: 20px 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}

.tombol{
  font-size: smaller      !important;
  color: "amber"          !important;
  text-decoration: none !important;
  padding: 0.5em 0.5em !important;
  border: 0px !important;
  border-radius: 5px;
  background-color: rgb(0,0,0,0.2);
  margin: 0px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

#new-quote{
  margin-left: 2px;
}

#sauce{
  color: white;
  font-size: 0.5em;
  text-decoration: none;
}

#copied-massage{
  font-size: small
}

#title{
  font-size:2em;
  margin-bottom:0em
}

#byMe{
  font-size:1em;
  margin-bottom:1em;
  margin-top:0em;
  color: rgb(0, 0, 0)
}

#myName{
  text-decoration: none;
  transition: all 2s;
}